<div class="ekart-product-container">
    <!--     <img [src]="product.imagePath">
        <p>Name :{{product.name}}</p>
        <p>Price :{{product.price}}</p>
        <p>Color :{{product.color}}</p>
        <p>Discounted Price :{{product.price-(product.price*product.discount/100)}}</p>
        <button (click)="decrementAddToCartValue()" [disabled]="!product.inStock">-</button>
        <span>{{addToCart}}</span>
        <button (click)="incrementAddToCartValue()" [disabled]="!product.inStock">+</button> -->
        <app-search (searchTextChangedEvent)="setSearchText($event)"></app-search> 
        <product-list [searchText]="searchText"></product-list>
    </div>