<div class="ekart-product-details-info scroll">
    <div class="ekart-product-detail-close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="ekart-product-detail-image">
        <img src="" class="ekart-product-detail-image">
    </div>
    <div class="ekart-product-detail">
        <div class="ekart-product-detail-name"></div>
        <div class="ekart-product-detail-desc"></div>
        <div class="ekart-product-detail-brand"></div>
        <div class="ekart-product-detail-category"></div>
        <div class="ekart-product-detail-size"></div>
        <div class="ekart-product-detail-color"></div>
        <div class="ekart-product-detail-price"></div>
        <div class="ekart-product-detail-availibility"></div>
        <div class="ekart-product-detail-stock"></div>
    </div>
</div>
<div class="overlay"></div>